<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ex.boot.mapper.MemberMapper">

	<select id="existUser" parameterType="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			member
		WHERE
			userId = #{userId}
	</select>
	
	<select id="checkPassword" parameterType="java.util.Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			member
		WHERE
			0 = 0
		AND
			userId = #{userId}
		AND 
			pwd = #{pwd}
	</select>
	
	<select id="selectMember" parameterType="String" resultType="com.ex.boot.vo.Member">
		SELECT 
			*
		FROM
			member
		WHERE 
			userId = #{userId}
	</select> 
		
	<select id="selectMemberList" resultType="com.ex.boot.vo.Member">
		SELECT
			*
		FROM
			member
	</select>
	
	<insert id="insertMember" parameterType="com.ex.boot.vo.Member">
		INSERT 
		INTO
			member
			(
			userId
			,pwd
			,name
			,auth
			,createdDate
			)
		VALUES
			(
			#{userId}
			,#{pwd}
			,#{name}
			,#{auth}
			,now()
			)
	</insert>
	
	<update id="updateMember" parameterType="com.ex.boot.vo.Member">
		UPDATE 
			member
		SET
			pwd = #{pwd}
			,name = #{name}
			,updateDate = now()
		WHERE
			userId = #{userId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE
		FROM
			member
		WHERE
			userId = #{userId}
	</delete>
	
	<update id="updateUserAuth" parameterType="java.util.Map">
		UPDATE 
			member
		SET
			auth = #{auth}
			,updateDate = now()
		WHERE
			userId = #{userId}
	</update>
	
	
	<delete id="deleteTest" parameterType="String">
		delete
		from 
			member
		where
			uuid = #{userId}
	</delete>
</mapper>